$clr-primary: hsl(21, 94%, 52%);
$clr-primary-light: hsl(21, 100%, 93%);
$clr-primary-dark: hsl(21, 91%, 48%);
$clr-dark: black;
$clr-light: white;
$clr-secondary: grey;

$clr-warning: hsl(51, 85%, 59%);
$clr-success: hsl(97, 79%, 55%);
$clr-info: hsl(231, 71%, 46%);

$text-dark: black;
$text-light: white;

$fs-xxxl: 3.24rem;
$fs-xxl: 2.47rem;
$fs-xl: 1.64rem;
$fs-l: 1.41rem;
$fs-m: 1.29rem;
$fs-s: 1.17rem;
$fs-xs: 1rem;
$fs-xxs: 0.88rem;
$fs-xxxs: 0.76rem;

$btn-padding: 11px 23px;
$container-padding: 100px;

$border-radius: 0.7rem;
$border-radius-small: 0.29rem;

$box-shadow: 0px 24px 32px -6px rgb(0 0 0 / 10%);

$transition: all 0.5s ease;

.bg-info {
  background-color: $clr-info;
}
.bg-warning {
  background-color: $clr-warning;
}
.bg-success {
  background-color: $clr-success;
}

.text-xxxl {
  font-size: $fs-xxxl;
  font-weight: bold;
}
.text-xxl {
  font-size: $fs-xxl;
  font-weight: bold;
}
.text-xl {
  font-size: $fs-xl;
  font-weight: bold;
}
.text-l {
  font-size: $fs-l;
  font-weight: bold;
}
.text-m {
  font-size: $fs-m;
}
.text-s {
  font-size: $fs-s;
}
.text-xs {
  font-size: $fs-xs;
}
.text-xxs {
  font-size: $fs-xxs;
}
.text-xxxs {
  font-size: $fs-xxxs;
}
.text-center {
  text-align: center;
}

@mixin flex($direction, $gap, $align: flex-start, $justify: flex-start) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  align-items: $align;
  justify-content: $justify;
}

.btn {
  border: none;
}
@mixin custom-btn($clr, $bg-clr, $hover-bg-clr: $clr-primary-dark) {
  padding: $btn-padding;
  color: $clr;

  background-color: $bg-clr;
  border-radius: $border-radius;

  font-weight: bold;

  cursor: pointer;
  transition: $transition;

  &:hover {
    background-color: $hover-bg-clr;
    color: $text-light;
  }
}

.btn--primary {
  @include custom-btn($text-light, $clr-primary);
}

.btn--primary-light {
  @include custom-btn($clr-primary, $clr-primary-light);
  .phone-icon {
    transition: $transition;
  }
  &:hover {
    .phone-icon {
      color: $clr-light;
    }
  }
}

.btn--white {
  @include custom-btn($text-dark, $clr-light, transparent);
  position: relative;
  box-shadow: 0px 0px 0px 2px white inset;
}

@mixin custom-section($title-fs, $text-fs) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: $title-fs;
    text-transform: capitalize;
  }
  p {
    font-size: $text-fs;
  }
}

.section-xl {
  @include custom-section($fs-xxxl, $fs-l);
}

.section-l {
  @include custom-section($fs-xxl, $fs-s);
}

.section-m {
  @include custom-section($fs-xl, $fs-s);
}

.section-s {
  @include custom-section($fs-m, $fs-s);
}

@mixin custom-col($num-of-col, $gap) {
  .col {
    width: calc(100% / $num-of-col - $gap);
    margin: 0 calc($gap / 2);
    img {
      max-width: 100%;
    }
  }
}

.container {
  $gap: 1rem;
  max-width: 1200px;
  margin: auto;
  .row-col-1 {
    width: 100%;
  }

  .row-cols-2,
  .row-cols-3,
  .row-cols-4,
  .row-cols-6 {
    display: flex;
    flex-wrap: wrap;
  }

  .row-cols-3 {
    $gap: 2.5rem;
    margin-left: calc($gap / 2 * -1);
    margin-right: calc($gap / 2 * -1);
  }

  .row-cols-2 {
    @include custom-col(2, $gap);
  }

  .row-cols-3 {
    @include custom-col(3, $gap);
  }

  .row-cols-4 {
    @include custom-col(4, $gap);
  }

  .row-cols-6 {
    @include custom-col(6, $gap);
  }
}

.row {
  @include flex(row, 0, center, center);
  .col-4_6 {
    width: calc(100% / 6 * 4);
  }
  .col-1_2 {
    width: calc(100 / 2);
  }
}
