$clr-primary: hsl(21, 94%, 52%);
$clr-primary-light: hsl(21, 100%, 93%);
$clr-primary-dark: hsl(21, 91%, 48%);
$clr-dark: black;
$clr-light: white;
$clr-secondary: grey;
$clr-secondary-light: rgb(230, 230, 230);

$clr-warning: hsl(51, 85%, 59%);
$clr-success: hsl(97, 79%, 55%);
$clr-info: hsl(231, 71%, 46%);

$text-dark: black;
$text-light: white;

$fs-xxxl: 3.24rem;
$fs-xxl: 2.47rem;
$fs-xl: 1.64rem;
$fs-l: 1.41rem;
$fs-m: 1.29rem;
$fs-s: 1.17rem;
$fs-xs: 1rem;
$fs-xxs: 0.88rem;
$fs-xxxs: 0.76rem;

$btn-padding: 22px 40px;
$container-padding: 100px;
$container-padding-medium: 130px;
$container-padding-big: 130px;

$border-radius: 0.7rem;
$border-radius-small: 0.29rem;

$box-shadow: 0px 24px 32px -6px rgb(0 0 0 / 10%);

$transition: all 0.5s ease;

@mixin flex($direction, $gap, $align: flex-start, $justify: flex-start) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  align-items: $align;
  justify-content: $justify;
}

@mixin custom-btn($clr, $bg-clr, $hover-bg-clr: $clr-primary-dark) {
  padding: $btn-padding;
  color: $clr;

  background-color: $bg-clr;
  border-radius: $border-radius;

  font-weight: bold;

  cursor: pointer;
  transition: $transition;

  &:hover {
    background-color: $hover-bg-clr;
    color: $text-light;
  }
}

@mixin custom-section($title-fs, $text-fs) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: $title-fs;
    text-transform: capitalize;
  }
  p {
    font-size: $text-fs;
  }
}

@mixin custom-col($num-of-col, $gap) {
  .col {
    width: calc(100% / $num-of-col - $gap);
    margin: 0 calc($gap / 2);
    img {
      max-width: 100%;
    }
  }
}
